xterm*background:    #000000
xterm*foreground:    #FFFFFF

! 0: black
*color0:  #000000
*color8:  #555555

! 1: red
*color1:  #FF0000
*color9:  #FF8888

! 2: green
*color2:  #00FF00
*color10: #88FF88

! 3: yellow
*color3:  #FFFF00
*color11: #FFFF88

! 4: blue
*color4:  #0000FF
*color12: #8888FF

! 5: magenta
*color5:  #FF00FF
*color13: #FF88FF

! 6: cyan
*color6:  #00FFFF
*color14: #88FFFF

! 7: white
*color7:  #AAAAAA
*color15: #FFFFFF
